<html>
    <head>
        {{>helmet}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div>
                <p>Use this widget to get your weather!</p>

                <form>
                    <input placeholder="Enter your location...">
                    <button>Search</button>
                </form>

                <p id="message-1"></p>
                <p id="message-2"></p>
            </div>
        </div>

        {{>footer}}
        <script src='/js/projects/weather.js'></script>
    </body>
</html>