<div>
    <img class='portrait' src='/img/chuck-norris.png' alt='chuck norris' />
    <div>
        <h3 id='joke'></h3>
    </div>
    <form>
        <button>Get a new joke</button>
    </form>
</div>
<div>
    <small>This was built based on
        <a
            href='https://developer.okta.com/blog/2019/03/06/simple-user-authentication-in-react'
        >Simple User Authentication in React</a>.</small>
</div>

<script src='/js/projects/chuck.js'></script>