<div>
    <p>Use this widget to get your weather!</p>
    <form>
        <input placeholder='Enter your location...' />
        <button>Search</button>
    </form>
    <p id='message-1'></p>
    <p id='message-2'></p>
</div>
<div>
    <small>This was built based on
        <a
            href='https://www.udemy.com/course/the-complete-nodejs-developer-course-2/'
        >Andrew Mead's Complete Node.js Developer Course</a>.</small>
</div>

<script src='/js/projects/weather.js'></script>