<html>
    <head>
        {{>helmet}}
    </head>
    <body>
        <div class="main-content">
            {{>navigation}}
            {{> (lookup . 'pageBody') }}
        </div>
        {{>footer}}
    </body>
</html>