<html>
    <head>
        {{>helmet}}
    </head>
    <body>
        <div class="main-content">
            {{>navigation}}
        {{#if user}}
        <a href="/user">Profile</a>
        <a href="/logout">Log Out</a>
        {{else}}
        <p>You must be logged in to access administrative tools.</p>
        <a href="/login">Login</a>
        {{/if}}
        </div>
        {{>footer}}
    </body>
</html>