<html>
    <head>
        {{>helmet}}
    </head>
    <body>
        <div class="main-content">
            {{>navigation}}
            <p>Blog coming soon!</p>
        </div>
        {{>footer}}
    </body>
</html>