<html>
    <head>
        {{>helmet}}
    </head>
    <body>
        <div class="main-content">
            {{>navigation}}
            <h2>Welcome!</h2>
            <p>Take a look around! There isn't much (yet) but plenty to come! 🚀</p>
        </div>
        {{>footer}}
    </body>
</html>