<html>
    <head>
        {{>helmet}}
    </head>
    <body>
        <div class="main-content">
            {{>navigation}}
            <p>Here are some small projects I have worked on while developing new skills, or just for fun.</p>
            <ul>
                <li><a href="/portfolio/chuck-norris">Chuck Norris Joke Generator</a></li>
                <li><a href="/portfolio/weather">Weather App</a></li>
            </ul>
        </div>
        {{>footer}}
    </body>
</html>