<html>
    <head>
        {{>helmet}}
    </head>
    <body>
        <div class="main-content">
            {{>navigation}}
            <p>Here are some small projects I have worked on while developing new skills, or just for fun.</p>
            <a href="/portfolio/weather">Weather App</a>
        </div>
        {{>footer}}
    </body>
</html>