<html>
    <head>
        {{>helmet}}
    </head>
    <body>
        <div class="main-content">
            {{>navigation}}
            <a href="/admin">Admin Home</a>
            <a href="/logout">Log Out</a>
            <h2>Welcome {{user.nickname}}!</h2>
            <img src="{{user.picture}}" class="portrait"/>
            
            <h3>User Profile</h3>
            <code>{{userProfile}}</code>
        </div>
        {{>footer}}
    </body>
</html>