<h2>I'm just a girl, standing in front of the internet, talking about the stuff
    I like.</h2>
<p>I am a woman of many interests, so I wear many hats. </p>
<p>I am a wife, mother, cat lady, software engineer, baker, musician, crafter,
    nail tech, curly girl, handywoman... the list goes on.</p>
<p>My goal is to write about all kinds of things - tech and not-so-tech. I love
    sharing what interests me, and I enjoy making concepts easier for others to
    understand.</p>
<p>I hope you enjoy my content. If there is something I haven't written about,
    or that needs clarification, reach out and let me know on
    <a href='https://twitter.com/GiannelliTech'>twitter</a>.</p>
<p>Amanda ✌️</p>