{{#if user}}
    <ul>
        <li><a href='/admin/user'>Profile</a></li>
        <li><a href='/admin/post'>Add Post</a></li>
    </ul>
{{else}}
    <p>You must be logged in to access administrative tools.</p>
{{/if}}