<div class='mdeContainer'>
    <h2>Edit Post</h2>
    <textarea id='editor'>
    </textarea>
</div>
<div class='mdeContainer'>
    <h2>Read-only</h2>
    <div id='reading'>
    </div>
</div>

<script src='/js/post.js'></script>