<html>
    <head>
        {{>helmet}}
    </head>
    <body>
        <div class="main-content">
            {{>navigation}}
            <div>
                <img class="portrait" src="/img/chuck-norris.png" alt="chuck norris" />

                <p id="joke">...</p>
                <form>
                    <button>Get a new joke</button>
                </form>
            </div>
            <div>
                <small>This was built based on <a href="https://developer.okta.com/blog/2019/03/06/simple-user-authentication-in-react">Simple User Authentication in React</a>.</small>
            </div>
        </div>

        {{>footer}}
        <script src='/js/projects/chuck.js'></script>
    </body>
</html>